.App{
    background-image: url(./img/bg.png);
    background-repeat: repeat;


    min-width: 320px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (min-width: 1024px) {
    .App{
        height: 100vh;
    }
}
.cardsList{
    display: grid;
    row-gap: 35px;
    justify-items: center;
}
.page_title{
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */
    display: block;
    text-align: center;
font-family: 'Exo2.0-Thin',sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-shadow: 0px 1px 1px #000000;
}
@media (min-width: 768px) {
.cardsList{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px;

}
}
@media (min-width: 1024px) {
    .cardsList{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 30px;

    }
}
